# Игнорируем виртуальные окружения
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем данные системы контроля версий
.git/
.gitignore

# Игнорируем логи и временные файлы
*.log
*.swp
*.tmp
*.bak
*.old

# Исключаем тестовые данные и документацию
tests/
docs/

# Игнорируем кэш пакетов pip
pip-wheel-metadata/
*.egg-info/
dist/
build/
